name: CI

on:
  push:
    branches: 
      - "master"
      - "develop"
  pull_request:
    branches: 
      - "master"
      - "develop"

jobs:
  lints:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Run `nix flake check`
        run: make ci
